<!DOCTYPE html>
<html>
<head>
    <title>Welcome to {{ ansible_hostname }}</title>
</head>
<body>
    <h1>Hello from {{ ansible_hostname }}</h1>
    <img src="/images/my_image.jpeg" alt="My Image">
    <p>This page is created by Ansible.</p>
</body>
</html>
